# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
release/
release-builds/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# IDE & local workspace
.vscode/
.idea/
*.swp
*.swo
.env
.env.local
.env.*.local
